/* CO O NÁS ŘEKLI NAŠI ZÁKAZNÍCI */
@media only screen and (max-width: 1350px) {
    .customer-references {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .customer-references.row {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .customer-references {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/* O NAŠÍ PIZZE */
@media only screen and (max-width: 1415px) {
    .informations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .info {
        margin-bottom: 20px;
    }
}

/* NAŠE PIZZA */
@media only screen and (max-width: 1230px) {
    .pizza-4 img {
        display: none;
    }
}

@media only screen and (max-width: 925px) {
    .pizzas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .pizza-4 img {
        display: block;
    }
}


/* HLAVIČKA */
@media only screen and (max-width: 720px) {
    .header-text h1 {
        text-align: center;
    }

    .header-text {
        width: 100%;
        transform: translate(0, 0);
        left: 0;
    }
    
    .btn {
        display: block;
        text-align: center;
        margin: 7px 20px 0 20px;
    }
}
/* MOBILE NAVIGATION */
@media only screen and (max-width: 1195px) {
    nav ul li {
        display: block;
    }

    .nav-background {
        /* display: none; */
    }
    .mobile-nav-back {
        height: 170px;
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid wheat;
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
        z-index: 100;
        position: fixed;
        right: -3%;
    }

    nav ul {
        display: none;
    }
}